.addNewButton {
    margin-left: 3rem;
}

.filterInput {
    width: 100%;
    min-width: 5rem;
}

.submitButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container{
    position: relative;
}

.removeButton{
    position:absolute;
    top: 15px;
    right: 15px;

}

.table-striped tbody tr:hover {
    background-color: lightblue;
}

.flex{
    display:flex;
}

#navMain .nav-link.active{
    color: white !important;
}