@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SubscriptionViewModel

<h1>Add Subscription</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label"> Employment Status:</label>
        <select class="form-control" asp-for="EmployeeId" asp-items="Model.SubscriberOptions"></select>
    </div>
    <div class="flex justify-content-end">
        <input class="btn btn-primary submitButton " type="submit" />
    </div>
    
</form>
