@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<SubscriptionViewModel>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/ActivityLog">Activity Log</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/ActivityLog/Subscriptions">Notifications</a>
    </li>

</ul>

<h1>Notifications <a class="btn btn-primary addNewButton" href="@Url.Action("AddSubscription", "ActivityLog")">Add New</a></h1>

<p>Add employees to be notified of activity log events.</p>





<table id="departmentTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var sub in Model)
        {
            <tr>
                <td>@sub.Name</td>
                <td>@sub.Email</td>
                <td>
                    <form method="post" action="/ActivityLog/RemoveSubscription">
                        <input type="hidden" id="id" name="id" value="@sub.NotificationSubscriptionId">
                        <input class="btn btn-primary" type="submit" value="Remove" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles{
    <style>
        .containerMain {
            max-width: 1500px;
        }

    </style>
}

